params {
  fastaSubsetSize = 7
  blastProgram = "blastp"
  tarFile = "$baseDir/data/test.tar"
  databaseFasta = "$baseDir/data/pdb.fsa"
  preConfiguredDatabase = true
  database = "$launchDir/data/newdb.dmnd"
  dataFile = "blastSimilarity.out"
  logFile = "blastSimilarity.log"
  outputDir = "$launchDir/output"
  blastArgs = ""
  pValCutoff = 1e-5
  lengthCutoff = 1
  percentCutoff = 1
  adjustMatchLength = true
  outputType = "both"
  printSimSeqs = true
}
process {
  container = 'diamondsim'
}
docker {
    enabled = true
}
